html {
  background: url('https://www.dropbox.com/s/8v5gwyei2ubmkor/background-image.jpg?raw=1') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #2f2f2f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

a {
  color: #2f2f2f;
  text-decoration: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modal {
  width: 700px;
  margin-left: -350px;
  background-color: rgba(255, 183, 0, .8);
  border-radius: 5px;
  z-index: 11;
}

.close {
  font-size: 16px;
  font-weight: 100;
  color: #D3D3D3;
  float: right;
  border: none;
  margin-right: 5px;
  background-color: #fff;
  outline: none;
}


/* Left side content */

.logo {
  width: 150px;
  margin-top: 105px;
  margin-left: 25px;
}

.login-text {
  width: 250px;
  margin-top: 50px;
}

.flat-button {
  color: #eaeaea;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
  border: none;
}

.facebook {
  background: url('https://www.dropbox.com/s/094vovcb4h8qznn/facebook-logo.png'), #3b5998;
  background-size: 20px 20px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat;
  margin-top: 50px;
  padding: 15px 30px 15px 45px;
}

.brand {
  margin-left: 25px;
}


/* Right-side */

.form {
  width: 400px;
  background-color: #fff;
  margin-left: -50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-indez: 12;
}

.form-inner {
  padding: 30px;
}


/* Tabs */

.tabs {
  width: 340px;
  margin-top: 25px;
}

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #d8d8d8;
}

ul.tabs li {
  display: inline-block;
  width: 138px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

ul.tabs li.current {
  font-weight: 500;
  box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(50, 117, 193, 1);
}

.form-content {
  display: none;
}

.form-content.current {
  display: inherit;
}

.field {
  width: 295px;
  margin-top: 15px;
  padding: 12px 15px 12px 30px;
  font-size: 14px;
  font-weight: 100;
  line-height: 22px;
  border: 1px solid #d8d8d8;
}


/*Custom checkbox*/

.check {
  opacity: 0;
  position: absolute;
}

.check .check-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.check-label {
  position: relative;
}

.check + .check-label:before {
  content: '';
  background: #fff;
  border: 1px solid #c3c3c3;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
}

.check:checked + .check-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #fff;
  color: #2f2f2f;
}

.secondary-text,
.secondary-text a {
  color: #939393;
}

.secondary-text a:hover {
  color: #3275C1;
}

.forgot {
  float: right;
}

.promo {
  font-size: 10px;
}

.position {
  height: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -240px;
}

.clear {
  height: 15px;
}

input:first-of-type {
  margin-top: 40px;
}

.signin {
  background-color: rgb(255, 183, 0);
  padding: 15px;
  width: 100%;
  color: #fff;
  margin-top: 30px;
}


/*No support for IE9, default to standard*/

.field::-webkit-input-placeholder {
  color: #2f2f2f;
}

.field:-moz-placeholder {
  color: #2f2f2f;
  opacity: 1;
}

.field::-moz-placeholder {
  color: #2f2f2f;
  opacity: 1;
}

.field:-ms-input-placeholder {
  color: #2f2f2f;
}

.field:placeholder-shown {
  color: #2f2f2f;
}

input:focus,
.check:focus {
  outline: none;
  outline: 2px solid #3275C1;
  border-radius: 5px;
}